@page "/"

<PageTitle>Home</PageTitle>

<h1>Welkom op het Blazor project van ... </h1>

<div> Hier vind je een vertaling van Javascript-oefeningen naar C# </div>
<div>
    <br />
    <button @onclick="FilmSearch" class="btn btn-primary btn-lg mb-2">Movies</button><br />
    <button @onclick="Fotozoeken" class="btn btn-primary btn-lg mb-2">Foto</button><br />
    <button @onclick="Funfactsstarten" class="btn btn-primary btn-lg mb-2">FunFacts</button><br />
    <button @onclick="Dobbelen" class="btn btn-primary btn-lg mb-2">Dobbelen</button>
</div>

